/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
* Version	 :	2.1.0
* Updated	 :	11/22/2022
*/


/*! WRITE YOUR CUSTOM STYLE **/

.btn-grad-alternet {
    background-image: linear-gradient(90deg, rgba(223, 130, 0, 1) 0%, rgba(253, 216, 29, 1) 50%, rgba(232, 175, 2, 1) 100%);
}

.team-popup-info p {
    color: #3a516d !important;
}

.accordion-content p {
    color: #3a516d;
}

.oneBondCoin-02 {
    width: -20%;
}

.input-bordered::placeholder {
    color: #ffffffce;
}

.team-position {
    color: #ffffffce !important;
}

.nk-block-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-p {
    margin-left: auto;
    font-size: 1.125rem;
    font-weight: 500;
    color: #ffffffce;
}

.chart-data {
    width: 100%;
}

.bg-theme .roadmap-line {
    background: rgb(236, 177, 0);
    border-color: rgb(236, 177, 0);
}

.readmap-item-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.readmap-item-wrap .roadmap-icon .roadmap-step {
    display: flex;
    width: fit-content;
    border-radius: 50px;
    padding: 16px 20px;
    border-color: rgb(236, 177, 0);
    align-items: center;
    justify-content: center;
}

.readmap-item-wrap .roadmap-left.roadmap-icon .roadmap-step {
    margin-left: auto;
}

.readmap-item-wrap .roadmap-right.roadmap-icon .roadmap-step {
    margin-right: auto;
}

.readmap-item-wrap .roadmap-step {
    border-color: rgb(236, 177, 0);
}

.bg-theme .roadmap-step:after,
.bg-theme-dark .roadmap-step:after {
    background: rgb(236, 177, 0);
    border-color: rgb(236, 177, 0);
}

@media screen and (min-width: 992px) {
    .roadmap-left {
        display: block;
        margin: unset;
    }
    .roadmap-right {
        display: block;
        margin: unset;
    }
}

@media screen and (max-width: 991px) {
    .oneBondCoinImg {
        width: 70%;
    }
    .readmap-item-wrap .roadmap-icon {
        order: 1;
    }
    .readmap-item-wrap .roadmap-content {
        order: 2;
    }
    .readmap-item-wrap .roadmap-left.roadmap-icon .roadmap-step {
        margin-left: 50px;
    }
    .readmap-item-wrap .roadmap-right.roadmap-icon .roadmap-step {
        margin-right: 50px;
    }
    /* .readmap-item-wrap .roadmap-icon .roadmap-step {
        border: none;
    } */
    /* .bg-theme .roadmap-icon .roadmap-step:after,
    .bg-theme-dark .roadmap-icon .roadmap-step:after,
    .bg-theme .roadmap-icon .roadmap-step::before,
    .bg-theme .roadmap-icon-dark .roadmap-step:before {
        background: none;
    } */
    .readmap-item-wrap {
        display: grid;
        grid-template-columns: 112px auto;
    }
}

@media screen and (max-width: 375px) {
    .readmap-item-wrap {
        display: grid;
        grid-template-columns: 1fr;
    }
    .readmap-item-wrap .roadmap-icon {
        display: none;
    }
}