/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
* Version	 :	2.1.0
* Updated	 :	11/22/2022
*/


/*! WRITE YOUR CUSTOM STYLE **/

.btn-grad-alternet {
    background-image: linear-gradient(90deg, rgba(223, 130, 0, 1) 0%, rgba(253, 216, 29, 1) 50%, rgba(232, 175, 2, 1) 100%);
}

.team-popup-info p {
    color: #3a516d !important;
}

.accordion-content p {
    color: #3a516d;
}

.oneBondCoin-02 {
    width: -20%;
}

.input-bordered::placeholder {
    color: #ffffffce;
}

.team-position {
    color: #ffffffce !important;
}

.nk-block-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-p {
    margin-left: auto;
    font-size: 1.125rem;
    font-weight: 500;
    color: #ffffffce;
}

.chart-data {
    width: 100%;
}

@media screen and (max-width: 991px) {
    .oneBondCoinImg {
        width: 70%;
    }
}